{{-  define "main" -}}
	<main tabindex="0">
	{{- if gt (len .Sections) 0 -}}
		<article><h1>Folders:</h1><ul>
			{{- range .Sections -}}				
				<li><h2><a href="{{ .Permalink }}">{{ .Section | humanize }}<h2></a></li>			
			{{- end -}}	
		</ul></article>
	{{- end -}}
	
	

{{- $buffer := newScratch -}}
{{- $index := slice -}}
{{- range site.RegularPages -}}		
	{{- $ptitle := .File.TranslationBaseName | humanize -}}
	{{- $year := substr $ptitle 0 4 -}}	 
	{{- $match := findRE "[0-9]{4}" $year -}}	
	{{- $ptag := cond (eq (len $match) 1) $year "Page" -}}	
	{{- $buffer.Add "aorder" (slice (dict "page" . "ptitle" $ptitle "ptag" $ptag)) -}}
	{{- $index = $index | append $ptag -}}
{{- end -}}



		

<article>
{{- $sort_order := cond (eq (.Site.Params.sort | default "asc") "desc") "desc" "asc" -}}

{{- $bufferU := newScratch -}}
{{- range (uniq $index) -}}
	{{- $bufferU.Add "aorder" (slice (dict "ptag" . )) -}}
{{- end -}}


<fnav>
{{- range sort ($bufferU.Get "aorder") ".ptag" $sort_order -}}
	<a href="#{{ .ptag }}">{{ .ptag }}</a>
{{- end -}}
</fnav>

{{- $firstFlag := true -}}
{{- $prevTag := "" -}}
{{- range sort ($buffer.Get "aorder") ".ptitle" $sort_order -}}
	{{- if $firstFlag -}} 
		<h2 id="{{ .ptag }}">{{ .ptag }}</h2><ul>
		{{- $firstFlag = false -}}
		{{- $prevTag = .ptag -}}
	{{- end -}}
	
	{{- if ne .ptag $prevTag -}}
		</ul><h2 id="{{ .ptag }}">{{ .ptag }}</h2><ul>
		{{- $prevTag = .ptag -}}
	{{ end }}
	
	<li><a href="{{ .page.Permalink }}">{{ .ptitle }}</a></li>
    {{- end -}}
</ul>
</article>

	
		
	</main>
{{- end -}}