<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- main -->
	<link rel="stylesheet" href="{{ "css/main.css" | absURL }}" type="text/css">
</head>
<body>
	{{ partial "header.html" . }}

	{{ block "main" . }}{{ end }}
	
	{{ partial "footer.html" . }}	
	
</body>
</html>
