{{ define "main" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

<!-- load search data -->
<script src="{{ "index.json" | absURL }}"></script>

<main>
<article>  
     <input type="text" id="search-query" placeholder="Search..." onkeydown="run_search(this)" 
		autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
		autofocus/> 

	<h3>Matching pages</h3>
    <div id="search-results">
		<p>Please enter a word or phrase above</p>
    </div>
<article>
</main>

<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
    </div>
</script>

{{ end }}
