<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#ffffff"> 	
		
	<!-- main -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" type="text/css">
	<link {{ if not (eq (.Site.Params.color_theme | default "light") "dark") }}disabled{{ end }} id="dark-mode-theme" rel="stylesheet" href="{{ .Site.BaseURL }}css/dark.css" type="text/css">	
	<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" crossorigin="use-credentials">
</head>
<body>
	{{ partial "header.html" . }}

	{{ block "main" . }}{{ end }}
	
	<!-- adjust search links -->
	<script>
	var baseURL=''; var input = document.getElementsByTagName('link');
	for(let i = 0;i < input.length; i++)
		if(input[i].outerHTML.includes('css\/main.css'))
			baseURL=(/href\s*=\s*['"](.*\/)css\/main.css/).exec(input[i].outerHTML)[1];
	</script>
		
	{{ partial "footer.html" . }}	
	
</body>
</html>


