<!-- www.compart.com/en/unicode/U+25D0 -->
<!-- http://xahlee.info/comp/unicode_computing_symbols.html -->
<nav>
		<div>	
		  <a href="{{ "index.html" | absURL }}">&#x2261;</a>
		</div>    
		
		<div>	
		  <a href="{{ "main.html" | absURL }}">link</a>
		</div>  

		<div>	
		  <a onclick="toggleSpeak(0)" oncontextmenu="toggleSpeak(1);return false;">&#x25B7;</a>		  
		  <a onclick="toggleTheme()">&#x25D0;</a>
		  <a onclick="toggleSearchDialog()">&#x2315;</a>  
		</div>    
</nav>

<div id="searchModal" class="modal">							
	<nav>
		<span>
		 <input type="text" id="search-query" placeholder="Search..." onkeyup="run_search(this)" 
			autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" 		
			autofocus/>
		</span>
		<a onclick="toggleSearchDialog()">&times;</a>
	</nav>

	
    <div id="search-results" class="modal__content">
		<p>Please enter a word or phrase above</p>
    </div>

</div>

<a onclick="scrollUp()" class="gotop">^</a>

