

{{ define "main" }}
	<main>
		{{/* sort by title extracted from filename */}}
		{{ range .Data.Pages }}
			{{ $ptitle := replaceRE "[[:^alpha:]]" " " .File.TranslationBaseName | humanize }}
			{{ $.Scratch.Add "aorder" (slice (dict "page" . "ptitle" $ptitle)) }}
		{{ end }}

		{{/* render page */}}
		{{ range sort ($.Scratch.Get "aorder") ".ptitle" "desc"}}
		<article>	
			<h1><a href="{{ .page.Permalink }}">{{ .ptitle }}</a></h1>
			<div>
				{{ .page.Summary }}
				<a href="{{ .page.Permalink }}">Read more...</a>
			</div>
		</article>

		{{ end }}
	</main>
{{ end }}


