{{ define "main" }}
  <main tabindex="0"> 
		{{- $folder := "" -}}
		{{- /* sort by title extracted from filename */ -}}
		{{- range .Data.Pages -}}						
				{{- /* {{-  $ptitle := replaceRE "[[:^alpha:]]" " " .File.TranslationBaseName | humanize -}} */ -}}
				{{-  $ptitle := .File.TranslationBaseName | humanize -}}
				{{- $.Scratch.Add "aorder" (slice (dict "page" . "ptitle" $ptitle)) -}}
				{{- $folder = .File.Dir -}}
		{{- end -}}
		{{- $folder = replace ($folder | humanize) "\\" "" -}}
		
		<article>
		<h2 id="{{ $folder }}">{{ $folder }}</h2>		
		<ul>
		{{- /* render page */ -}}
		{{- $sort_order := cond (eq (.Site.Params.sort | default "asc") "desc") "desc" "asc" -}}
		{{- range sort ($.Scratch.Get "aorder") ".ptitle" $sort_order -}}		
			<li><a href="{{ .page.Permalink }}">{{ .ptitle }}</a></li>		
		{{- end -}}
		</ul>
		</article>
  </main>
{{ end }}

