{{ define "main" }}
	<main tabindex="0">
		<article>
			<div>
				{{ .Content }}
			</div>
		
<fnav>		
	{{- if .NextInSection -}}
	<div>		
	<a href="{{ .NextInSection.Permalink }}">« {{ .NextInSection.File.TranslationBaseName | humanize | truncate 50 "..." }}</a>
	</div>
	{{- end -}}	
	<div>		
	<a href="{{ "index.html" | absURL }}">Home</a>
	</div>	
	{{- if .PrevInSection -}}
	<div>
	<a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.File.TranslationBaseName | humanize | truncate 50 "..."}} »</a>
	</div>
	{{- end -}}	
</fnav>	
		</article>
	</main>
{{ end }}
