{{-  define "main" -}}
	<main>
	
	{{- if gt (len .Sections) 0 -}}
		<article><h1>Folders:</h1><ul>
			{{- range .Sections -}}				
				<li><h2><a href="{{ .Permalink }}">{{ .Section }}<h2></a></li>			
			{{- end -}}	
		</ul></article>
	{{- end -}}
	
	
		{{- /* sort by title extracted from filename */ -}}
		{{- range site.RegularPages -}}		
			{{- /* skip search page */ -}}
			{{- if not (eq .Params.layout "search") -}}
				{{-  $ptitle := replaceRE "[[:^alpha:]]" " " .File.TranslationBaseName | humanize -}}
				{{- $.Scratch.Add "aorder" (slice (dict "page" . "ptitle" $ptitle)) -}}
			{{- end -}}			
		{{- end -}}
		
		{{- /* render page */ -}}
		{{- range sort ($.Scratch.Get "aorder") ".ptitle" "desc" -}}
		<article>	
			<h1><a href="{{ .page.Permalink }}">{{ .ptitle }}</a></h1>
			<div>
				{{-  .page.Summary -}}
				<a href="{{ .page.Permalink }}">Read more...</a>
			</div>
		</article>
		{{- end -}}		
	</main>
{{- end -}}