<article>	
	<h1><a href="{{ .Permalink }}">{{ replaceRE "[[:^alpha:]]" " " .File.TranslationBaseName | humanize }}</a></h1>
	<div>
		{{ .Summary }}
		<a href="{{ .Permalink }}">Read more...</a>
	</div>
</article>
