

body {
	margin:0;
	background-color: white;
	color:black;
	
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10pt; 	
	
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: fixed;                              	
}


  
  
  
	

/* Search */
.modal {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;                              
	z-index: 10;
	
}

.modal.open {
	display: flex;
	flex-direction: column;
}

.modal__content {
	height: 100%;
	overflow-y: auto;				
	padding: 20px 20px 0rem 20px;
	
	background-color: white;
	color:black;
}
	
	
main {
	overflow-y: auto;					
	height: 100%;
}


/* Page content */
article {
	padding:20px;
}

img {
    max-width: 100%;
}

a:link, a:visited {
    color: black;
}



/* Navigation */
/* https://stackoverflow.com/questions/29036231/how-can-i-have-a-position-fixed-behaviour-for-a-flexbox-sized-element */
nav {
	display: flex; 
    justify-content: space-between;
	align-items: center;    
	background-color: #888;  
}

nav input {
	width: 100%;
}

nav span {
	flex: 1; 
	padding: 0px 14px;
}

nav a {
  text-align: center;
  padding: 0px 14px;
  text-decoration: none;
  font-size: 200%;
  cursor: pointer;
}

nav a:hover {
  color: white;
}

/* Main Links */
#main-links ~ p a {			
	display: inline-block;
	text-decoration: none;
								
	background-color: #888;				
	font-weight: 600;
				
	margin: 5px 0px 5px 0px;				
	padding: .5rem 1rem .5rem 1rem;
	border-radius: .25rem;				
}

#main-links ~ p a:hover {	
	color: white;
}

/* Highlight */
.hl {
  background-color: yellow;
}


/* Floating button */  
.gotop {	
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
    right: 20px;
    bottom: 20px;
	width: 30px;
	height: 30px;

	cursor: pointer;
	z-index: 999;
		
	background-color: rgba(1,1,1,0.2);
	color:black;
	
	border-radius: 25%;	
	font-size: 200%;
	font-weight: bold;
}	
