{{ define "main" }}
  <main> 
		{{- /* sort by title extracted from filename */ -}}
		{{- range .Data.Pages -}}		
				{{-  $ptitle := replaceRE "[[:^alpha:]]" " " .File.TranslationBaseName | humanize -}}				
				{{- $.Scratch.Add "aorder" (slice (dict "page" . "ptitle" ($ptitle | printf "%s - %s" .File.Dir))) -}}
		{{- end -}}

		{{- /* render page */ -}}
		{{- $sort_order := cond (eq (.Site.Params.sort | default "asc") "desc") "desc" "asc" -}}
		{{- range sort ($.Scratch.Get "aorder") ".ptitle" $sort_order -}}
		<article>	
			<h1><a href="{{ .page.Permalink }}">{{ .ptitle }}</a></h1>
			<div>
				{{-  .page.Summary -}}
				<a href="{{ .page.Permalink }}">Read more...</a>
			</div>
		</article>
		{{- end -}}
  </main>
{{ end }}

