html, body {
    height: 100%;
}

body {
	margin:0;
}

main {
    margin: auto;
    padding: 25px;    
    max-width: 750px;
	overflow: auto;
}

img {
    max-width: 100%;
}


/* Page content */

article {
	padding:20px;
	margin-top:20px;
}


/* Colored links */

a:link, a:visited {
    color: var(--accent);
}


a:hover {
    color: var(--accent) !important;
}



/* Navigation */

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #888;
  position: fixed;
  top: 0;
  width: 100%;  
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 14px;
  text-decoration: none;
  font-size: 200%;
}

nav a:hover:not(.active) {
  background-color: #666;
}

/* Main Links */
#main-links ~ p a{			
	display: inline-block;
	text-decoration: none;
								
	background-color: #888;				
	font-weight: 600;
				
	margin: 5px 0px 5px 0px;				
	padding: .5rem 1rem .5rem 1rem;
	border-radius: .25rem;				
}

#main-links ~ p a:hover{	
	background-color: #666;			
}

/* Search */
.modal {
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;                              
	z-index: 10;
	
}

.modal.open {
	display: flex;
	flex-direction: column;
}
					
.modal__header {
	height: 100px;
	background-color: #3490dc;
	padding: 1rem 1rem 0rem 1rem;
}

.modal__content {
	height: 100%;
	overflow-y: auto;				
	background-color: #b8c2cc;
	padding: 0rem 1rem 0rem 1rem;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;

}


.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Highlight */
.hl {
  background-color: yellow;
}


