<nav>
  <a style="float:right" href="{{ "_search.html" | absURL }}">&#x2315;</a>
  <a style="float:left" href="{{ "index.html" | absURL }}">&#x2261;</a>
  <!-- <a class="margin:0 auto" href="#home">what is life</a> -->
</nav>
