{{ define "main" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

<main>
<article>
    <form action="{{ .Permalink }}">
      <input id="search-query" name="s" autofocus/>
    </form>
	
    <div id="search-results">
     <h3>Matching pages</h3>
    </div>
<article>
</main>

<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
    </div>
</script>


{{ end }}
