<article>
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
	<div>
		{{ .Summary }}
		<a href="{{ .Permalink }}">Read more...</a>
	</div>
</article>
