<!-- <script src="{{ .Site.BaseURL }}js/jquery.min.js" type="text/javascript"></script> –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>

<!-- load search data -->
<script src="{{ "index.json" | absURL }}"></script>
<script src="{{ "js/search.js" | absURL }}"></script>