<nav>
  <a style="float:right" onclick="toggleSearchDialog()">&#x2315;</a>
  <a style="float:left" href="{{ "index.html" | absURL }}">&#x2261;</a>
  <!-- <a class="margin:0 auto" href="#home">what is life</a> -->
</nav>


							
<div id="searchModal" class="modal">							
<div class="modal__header">
     <input type="text" id="search-query" placeholder="Search..." onkeyup="run_search(this)" 
		autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" style="width: 90%;"
		autofocus/> 
	<span class="close" onclick="toggleSearchDialog()" >&times;</span>

	<h3>Matching pages</h3>
</div>	
    <div id="search-results" class="modal__content">
		<p>Please enter a word or phrase above</p>
    </div>

</div>

<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
    </div>
</script>
